body {
    font-family: "Source Serif Pro", serif;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    cursor: pointer;
}

img {
    object-fit: cover;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;

    &--l {
        max-width: 1500px;
    }
}

.links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cart-link {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg height='200' width='200' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath d='m478.379 336.658 33.391-200.347c1.695-10.174-6.162-19.44-16.468-19.44H118.788l-4.792-54.622c-2.362-25.968-23.807-45.551-49.881-45.551h-47.42C7.475 16.697 0 24.173 0 33.393s7.475 16.696 16.696 16.696h47.42c8.693 0 15.84 6.528 16.623 15.132l27.874 317.75c2.362 25.968 23.807 45.551 49.881 45.551h22.466a49.86 49.86 0 0 0-2.872 16.696c0 27.618 22.469 50.087 50.087 50.087 27.618 0 50.087-22.469 50.087-50.087 0-5.852-1.018-11.47-2.872-16.696h72.525a49.86 49.86 0 0 0-2.872 16.696c0 27.618 22.469 50.087 50.087 50.087 27.618 0 50.087-22.469 50.087-50.087 0-5.852-1.018-11.47-2.872-16.696h19.566c9.22 0 16.696-7.475 16.696-16.695s-7.475-16.696-16.696-16.696H158.492c-8.693 0-15.84-6.528-16.623-15.132l-2.578-29.39H461.91a16.697 16.697 0 0 0 16.469-13.951zm-83.251 91.863c9.206 0 16.696 7.49 16.696 16.696s-7.49 16.696-16.696 16.696-16.696-7.49-16.696-16.696 7.49-16.696 16.696-16.696zm-166.956 0c9.206 0 16.696 7.49 16.696 16.696s-7.49 16.696-16.696 16.696-16.696-7.49-16.696-16.696 7.49-16.696 16.696-16.696zm150.26-278.259h97.16l-11.13 66.782h-86.03v-66.782zM211.477 317.217h-75.114l-5.859-66.782h80.973v66.782zm0-100.173h-83.902l-5.858-66.782h89.76v66.782zm133.564 100.173H244.868v-66.782h100.173v66.782zm0-100.173H244.868v-66.782h100.173v66.782zm102.726 100.173h-69.334v-66.782h80.465l-11.131 66.782z'/%3E%3C/svg%3E");

    &__count {
        font: 400 10px "DM Sans";
        color: #fff;
        letter-spacing: .1em;
        line-height: 1.5em;
        margin-left: 1px;
        position: absolute;
        top: -6px;
        right: -8px;
        background: #005240;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1px
    }
}


.title {
    color: #111;
    font-weight: 400;
    font-family: "DM Sans";

    &--xl {
        font-size: 28px;
        line-height: 1.2em;
        @media only screen and (min-width: 576px) {
            font-size: 38px;
        }
        @media only screen and (min-width: 990px) {
            font-size: 48px;
            line-height: 58px;
        }
    }

    &--l {
        font-size: 28px;
        line-height: 1.2em;
        @media only screen and (min-width: 576px) {
            line-height: 1.4em;
            font-size: 40px;
        }
    }

    &--m {
        font-size: 38px;
        line-height: 46px;
    }

    &--s {
        font-size: 30px;
        line-height: 36px;
    }

    &--xs {
        font-size: 27px;
        line-height: 38px;
    }
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    font: 400 12px "DM Sans";
    color: #a8aab2;
    text-transform: uppercase;

    &>p+p {
        margin-left: 30px;

        &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 20px;
            background-color: #a8aab2;
            left: -25px;
            top: 7px;
        }
    }
}

.time {
    margin-bottom: 0;
    font: 400 12px "DM Sans";
}

.date {
    margin-bottom: 0;
    position: relative;
    font: 400 12px "DM Sans";

}

.tag {
    font: 400 12px "DM Sans";
    color: #121416;
    border-bottom: 1px solid #ffd874;
    order: -1;
    display: inline-block;
    padding-bottom: 3px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
}

blockquote,
.quote {
    position: relative;
    font: 400 25px "PT Serif";
    color: #121416;
    line-height: 1.5em;
    font-style: italic;
    text-align: start;
    box-sizing: border-box;
    margin: 30px auto;
    display: block;
    padding: 20px 30px;
    @media only screen and (min-width: 576px) {
        font-size: 27px;
        padding: 20px 60px;
    }
    &::before {
        content: "";
        position: absolute;
        /* background-image: url(../i/quotes.svg); */
        width: 80px;
        height: 65px;
        background-size: contain;
        z-index: -1;
        left: 0
    }
}

.quote-author,
blockquote>span {
    font: 400 10px "DM Sans";
    color: #121416;
    display: block;
    line-height: 1.5em;
    text-align: start;
    text-transform: uppercase;
    margin-top: 20px
}

ul,
ol,
.text,
.single-post__content>p,
.single-product__description>p {
    font: 400 19px "Source Serif Pro";
    color: #121416;
    line-height: 1.6em;
    text-align: start;
    margin-bottom: 20px;

    p {
        margin: 0
    }
}