.header {
    &__title {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px 1px 1px 1px)
    }

    &__links {
        @media only screen and (min-width: 991px) {
            display: flex;
            gap: 10px;
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 18px 0 9px 0;

        &--base {
            display: none;

            @media only screen and (min-width: 991px) {
                display: flex;

            }
        }

        &:not(.header__line--base) {
            padding-top: 10px;
            padding-bottom: 30px;
            gap: 50px;
            @media only screen and (min-width: 991px) {
                padding: 50px 0;
            }
        }
    }

    &__social {
        @media only screen and (min-width: 991px) {
            margin-top: 0
        }
    }
    &__cart {
        position: relative;
        &:hover {
            .cart--header {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__cart-count {
        font: 400 10px "DM Sans";
        color: #fff;
        letter-spacing: .1em;
        line-height: 1.5em;
        margin-left: 1px;
        position: absolute;
        top: -6px;
        right: -8px;
        background: #005240;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1px
    }

    &__cart-link {
        position: relative;
        display: block;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg height='200' width='200' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath d='m478.379 336.658 33.391-200.347c1.695-10.174-6.162-19.44-16.468-19.44H118.788l-4.792-54.622c-2.362-25.968-23.807-45.551-49.881-45.551h-47.42C7.475 16.697 0 24.173 0 33.393s7.475 16.696 16.696 16.696h47.42c8.693 0 15.84 6.528 16.623 15.132l27.874 317.75c2.362 25.968 23.807 45.551 49.881 45.551h22.466a49.86 49.86 0 0 0-2.872 16.696c0 27.618 22.469 50.087 50.087 50.087 27.618 0 50.087-22.469 50.087-50.087 0-5.852-1.018-11.47-2.872-16.696h72.525a49.86 49.86 0 0 0-2.872 16.696c0 27.618 22.469 50.087 50.087 50.087 27.618 0 50.087-22.469 50.087-50.087 0-5.852-1.018-11.47-2.872-16.696h19.566c9.22 0 16.696-7.475 16.696-16.695s-7.475-16.696-16.696-16.696H158.492c-8.693 0-15.84-6.528-16.623-15.132l-2.578-29.39H461.91a16.697 16.697 0 0 0 16.469-13.951zm-83.251 91.863c9.206 0 16.696 7.49 16.696 16.696s-7.49 16.696-16.696 16.696-16.696-7.49-16.696-16.696 7.49-16.696 16.696-16.696zm-166.956 0c9.206 0 16.696 7.49 16.696 16.696s-7.49 16.696-16.696 16.696-16.696-7.49-16.696-16.696 7.49-16.696 16.696-16.696zm150.26-278.259h97.16l-11.13 66.782h-86.03v-66.782zM211.477 317.217h-75.114l-5.859-66.782h80.973v66.782zm0-100.173h-83.902l-5.858-66.782h89.76v66.782zm133.564 100.173H244.868v-66.782h100.173v66.782zm0-100.173H244.868v-66.782h100.173v66.782zm102.726 100.173h-69.334v-66.782h80.465l-11.131 66.782z'/%3E%3C/svg%3E");
    }

    &__logo {
        img {
            max-width: 100px;
            @media (min-width: 576px) {
                max-width: none;
            }
        }
    }

    &__search-button {
        height: 26px;
        width: 30px;
        display: block;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.796 15.811 21 21m-3-10.5a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0Z' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
    }
    &__side-menu-button {
        height: 26px;
        width: 30px;
        display: block;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6h16M4 12h16M4 18h16' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
      }
}


.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    list-style: none;
    padding-left: 0;

    &__item {
        margin: 0 10px;
        margin-top: 10px;

        @media only screen and (min-width: 991px) {
            margin-top: 0;
        }
    }

    &__link {
        font: 500 12px "DM Sans";
        color: #111;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        line-height: 1.5em;
        text-decoration: none;

        &.active {
            color: #878787;
        }
      }
}