.nav-cards {
    &__wrapper {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
}

.nav-card {
    max-width: 375px;
    background: #fbf7ed;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;

    &__img {
        img {
            max-height: 200px;
            object-fit: cover;
        }
    }

    &__title {
        font: 500 14px "DM Sans";
        color: #111;
        letter-spacing: .2em;
        text-transform: uppercase
      }
}