.slide {
    &__title {
        max-width: 90%;
        margin: auto;
    }

    &__background {
        img {
            max-height: 260px;
            width: 100%;
            object-fit: cover;

            @media only screen and (min-width: 576px) {
                max-height: 420px;


            }
            @media only screen and (min-width: 990px) {
                max-height: 665px;


            }
        }
    }

    &__tag {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__content {
        padding: 30px 20px;
        max-width: 700px;
        margin: auto;
        background: white;
        margin-top: -10%;
        position: relative;

        @media only screen and (min-width: 576px) {
            padding: 53px 30px;
            margin-bottom: 60px;

        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    top: 35% !important;
    color: black !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0z'/%3E%3C/svg%3E");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
        font-size: 0 !important;
    }
}

.swiper-button-next {
    right: 3% !important;
}

.swiper-button-prev {
    left: 3% !important;
    rotate: 180deg;
}