.about-page {
  display: grid;
  grid-template-rows: repeat (12, 1fr);
  max-width: 900px;
  margin: auto;
  @include e(title) {
    @include font('DM Sans', 40px, $mediumFontWeight);
    line-height: 1.4em;
    margin-bottom: 1rem;
  }
  @include e(profession) {
    @include font('DM Sans', 16px, $mediumFontWeight);
    line-height: 1.5em;
    text-transform: uppercase;
    margin-top: 0;
    border-bottom: 0.5px solid $border;
    max-width: 4500px;
    justify-self: center;
    padding-bottom: 20px;
  }
  @include e(text) {
    @include font('Source Serif Pro', 19px, $regularFontWeight, $tags);
    line-height: 1.6em;
    text-align: start;
    @include m(contact) {
      margin: 0;
    }
  }
  @include e(quote) {
    position: relative;
    @include font('PT Serif', 27px, $regularFontWeight, $tags);
    line-height: 1.5em;
    font-style: italic;
    text-align: start;
    padding: 20px 60px;
    box-sizing: border-box;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../i/quotes.svg);
      width: 80px;
      height: 65px;
      background-size: contain;
      z-index: -1;
      left: 0;
    }
  }
  @include e(quote-author) {
    @include font('DM Sans', 10px, $regularFontWeight, $tags);
    display: block;
    line-height: 1.5em;
    text-align: start;
    text-transform: uppercase;
    margin-top: 20px;
  }
  @include e(img-box) {
    max-width: 900px;
    @include m(photo) {
      grid-row: 1;
    }
    @include m(signature) {
      text-align: left;
    }
  }
  @include e(name) {
    display: block;
  }
}
