body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import"https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=PT+Serif:ital@1&family=Source+Serif+Pro&display=swap";

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

textarea {
  resize: vertical
}

body {
  margin: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  text-decoration: none
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

cost-boxmary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

button,
input,
optgroup,
select,
textarea,
html input[type=button],
input[type=reset],
input[type=submit],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type=checkbox],
input[type=radio],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=search],
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  white-space: normal;
  line-height: 1;
  background-image: none;
  background-color: transparent;
  -webkit-appearance: none;
  box-shadow: none
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus,
html input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
button[disabled]:focus,
html input[disabled]:focus,
button::-moz-focus-inner:focus,
input::-moz-focus-inner:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=number]::-webkit-inner-spin-button:focus,
input[type=number]::-webkit-outer-spin-button:focus,
input[type=search]:focus,
input[type=search]::-webkit-search-cancel-button:focus,
input[type=search]::-webkit-search-decoration:focus {
  border: 0;
  background: transparent;
  outline: none
}

textarea {
  resize: none
}

p {
  pointer-events: none;
  text-decoration: none
}

html {
  font-size: 16px
}

body {
  font-family: "Ubuntu", sans-serif;
  max-width: 1500px;
  margin: auto;
  text-align: center
}

h1 {
  font-weight: 500
}



img {
  max-width: 100%
}

